<!DOCTYPE html>

<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
  #banner{
    width:80%;
    object-fit:cover;
    height:320px;
  }
</style>
<head>
  <div id="container">
    <title>Shubhda Datta</title>

    <!-- This is a comment, by the way -->
  
</head>

<body>
  
  
    <h1 class = "text-center" "mx-auto">Shubhda Datta</h1>
    <h2 class = "text-center" "mx-auto">Welcome to the DS and ML Course</h2>
      <img class="rounded mx-auto d-block" id ="banner" src ="https://testwebdev.shubhdadatta.repl.co/static/portfolio-banner.jpg" >
    
    <h2 class = "text-center" "mx-auto">Topics</h2>
    <p class="lead">A simple page put together using HTML. <em>I said a simple page put together using HTML.</em> A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML.      </p>
    
    
    <h2  class = "text-center" "mx-auto">Let's get started.</h2>                                                    
    <div class="text-center"> 
      <button type="button" class="btn btn-primary btn-lg"">Project</button>

    </div>
    
    
  </div>

</body>

</html>
