<!DOCTYPE html>

<html>
  {% include 'bootstrap.html' %}
<style>
  #banner{
    width:80%;
    object-fit:cover;
    height:320px;
  }
</style>
<head>
  <div id="container">
    <title>Shubhda Datta</title>

    <!-- This is a comment, by the way -->
  
</head>

<body>
  {% include 'navbar.html'%}
  
  
    <h1 class = "text-center" "mx-auto">Shubhda Datta</h1>
    <h2 class = "text-center" "mx-auto">Python, SQL, DataScience, Machine Learning, Deep Learning</h2>
      <img class="rounded mx-auto d-block" id ="banner" src ="https://testwebdev.shubhdadatta.repl.co/static/portfolio.jpg" >
    
    <h2 class = "text-center" "mx-auto">Projects</h2>
  <div>
{% for project in projects%}
    
    {% include 'projects.html'%}
    
    {% endfor %}
  </div>
  
    <h2 class = "text-center" "mx-auto">Certifications</h2>
    <div>
      {% for certificate in certificates%}
        {% include 'certificates.html'%}
    {% endfor %}
    </div>
    <h2  class = "text-center" "mx-auto">Let's get started.</h2>                                                    
    <div class="text-center"> 
      <button type="button" class="btn btn-primary btn-lg"">Project</button>

    </div>
    
    
  </div>

</body>

</html>
