<!DOCTYPE html>

<html>

<head>

    <title>Shubhda Datta</title>

    <!-- This is a comment, by the way -->

</head>

<body>

<h1>Welcome to the DS and ML Course Website</h1>

<h2>Topics</h2>
<p>A simple page put together using HTML. <em>I said a simple page put together using HTML.</em> A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML. A simple page put together using HTML.</p>

<h2>Let's get started.</h2>

</body>

</html>
